<nav></nav>

<div align="center">
<div class="container m-3">
  <div class="bgimage" >
    <img src="../../assets/image/bg.jpg">

</div>
   
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <h1 class="heading">
            <span>A</span>
            <span>D</span>
            <span>D</span>
            <span><hr></span>
            <span>P</span>
            <span>A</span>
            <span>C</span>
            <span>K</span>
            <span>A</span>
            <span>G</span>
            <span>E</span>
            <span>S</span>
        </h1>
        <a href="/addpackage" class="btn btn-success btn-sm">Create New</a> 
        <br> <br>
        <h1 class="heading">
          <span>E</span>
          <span>D</span>
          <span>I</span>
          <span>T</span>
          <span><hr></span>
          <span>P</span>
          <span>A</span>
          <span>C</span>
          <span>K</span>
          <span>A</span>
          <span>G</span>
          <span>E</span>
          <span>S</span>
      </h1>
      <a href="/editpack" class="btn btn-success btn-sm">Click here</a> 
      <br> <br>
        <h1 class="heading">
          <span>V</span>
          <span>I</span>
          <span>E</span>
          <span>W</span>
          <span><hr></span>
          <span>U</span>
          <span>S</span>
          <span>E</span>
          <span>R</span>
          <span>S</span>
      </h1>
        <a href="/userview" class="btn btn-success btn-sm">Click here</a>  
        <br> <br>
        <h1 class="heading">
          <span>V</span>
          <span>I</span>
          <span>E</span>
          <span>W</span>
          <span><hr></span>
          <span>A</span>
          <span>G</span>
          <span>E</span>
          <span>N</span>
          <span>T</span>
          <span>S</span>       
      </h1>
        <a href="/agentview" class="btn btn-success btn-sm">Click here</a>  
        <br> <br>
        <h1 class="heading">
          <span>B</span>
          <span>O</span>
          <span>O</span>
          <span>K</span>
          <span>E</span>  
          <span>D</span>  
          <span><hr></span>
          <span>P</span>
          <span>A</span>
          <span>C</span>
          <span>K</span>
          <span>A</span>
          <span>G</span>    
          <span>E</span>  
          <span>S</span>     
      </h1>
        <a href="/bpack" class="btn btn-success btn-sm">Click here</a>  
        <br> <br>
        <h1 class="heading">
          <span>L</span>
          <span>O</span>
          <span>G</span>
          <span>O</span>
          <span>U</span>
          <span>T</span>  
      </h1>
        <a href="/" class="btn btn-success btn-sm">Click here</a>  
        <br> <br>
        </div>
        </div>
      </div>
      </div>