<nav></nav>
<header>

    <div id="menu-bar" class="fas fa-bars"></div>
  
    <a href="#" class="logo">travel<span>B</span>y</a>
  
    <nav class="navbar">
        <a href="/agentaddpack">Add Packages</a>
        <a href="/agentprofile">Edit profile</a>
        <a routerLink="/">Logout</a>
    </nav>
  
    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>
  
    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>
  
  </header>
  
  <section class="home" id="home">
  
  
    <div class="content">

        
    </div>
  
    <div class="video-container" >
        <video src="../../assets/video/bg2.mp4" id="video-slider" loop autoplay muted></video>
    </div>
  
  
  
  
  
   </section>